
.catImg{
    height: 150px;
    width: 150px;
}

.catageory{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.catageory h1{
    font-size: 36px;
    color: #00a6bb;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.catageoryImages{
    display: flex;
    gap: 15px;
    padding:10px 20px;
}
/* CATEGORY HR */
.category-hr {
  border: none;
  height: 4px;
  
  width: 80%;
  margin: 30px auto;
  background-color: #001cbb;
  border-radius: 10px;
}